{
  "WS": [
    {
      "ID": "",
      "URL": "wss://~~~",
      "PAYLOAD": {
        "field" : "value"
      }
  ],
  "DB": {
    "URL": "change your database url",
    "DATABASE": "change your database",
  }
}